<h1>Decks - <%= @faction %> (Last 90 Days)</h1>
<table>
  <thead>
    <tr>
      <th>Agenda</th>
      <th>Win Percent</th>
      <th>Games Played</th>
    </tr>
  </thead>
  <tbody>
    <%= for deck <- @decks do %>
      <a href="/deck/<%= @faction %>/<%= deck.agenda %>"><tr>
        <td><%= deck.agenda %></td>
        <td><%= Float.round(deck.last_ninety_percent * 100, 2) %></td>
        <td><%= deck.last_ninety_played %></td>
      </tr></a>
    <% end %>
  </tbody>
</table>
